In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv('zameen.csv')

print("Initial Shape:", df.shape)

df = df.drop_duplicates()

df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

drop_cols = ['page_url', 'agent', 'property_id', 'location_id']
df = df.drop(columns=drop_cols, errors='ignore')

df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['area_size'] = pd.to_numeric(df['area_size'], errors='coerce')
df['baths'] = pd.to_numeric(df['baths'], errors='coerce')
df['bedrooms'] = pd.to_numeric(df['bedrooms'], errors='coerce')

df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

num_cols = ['price','area_size','baths','bedrooms','latitude','longitude']
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

cat_cols = ['property_type','location','city','province_name','purpose','area_type','area_category']
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

df = df[(df['price'] > 100000) & (df['price'] < df['price'].quantile(0.99))]
df = df[(df['area_size'] > 0) & (df['area_size'] < df['area_size'].quantile(0.99))]

df.reset_index(drop=True, inplace=True)

print("Final Shape:", df.shape)

df.to_csv('cleaned_zameen.csv', index=False)

Initial Shape: (168446, 20)
Final Shape: (126267, 16)

In [11]:
df_clean = pd.read_csv('cleaned_zameen.csv')
df_clean.head()
df_clean.tail()

,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms,date_added,agency,area_type,area_size,area_category
126262,House,26500000,Gadap Town,Karachi,Sindh,25.029909,67.137192,0,9.6 Marla,For Sale,6,2019-07-18,Al Shahab Enterprises,Marla,9.6,5-10 Marla
126263,House,12500000,Gadap Town,Karachi,Sindh,25.017951,67.136393,0,8 Marla,For Sale,3,2019-07-18,Al Shahab Enterprises,Marla,8.0,5-10 Marla
126264,House,27000000,Gadap Town,Karachi,Sindh,25.015384,67.116330,0,9.6 Marla,For Sale,6,2019-07-18,Al Shahab Enterprises,Marla,9.6,5-10 Marla
126265,House,11000000,Gadap Town,Karachi,Sindh,25.013265,67.120818,0,7.8 Marla,For Sale,3,2019-07-18,Al Shahab Enterprises,Marla,7.8,5-10 Marla
126266,House,9000000,Bahria Town Karachi,Karachi,Sindh,25.113565,67.353811,3,9.4 Marla,For Sale,3,2019-07-18,ZPN Real Estate & Builders,Marla,9.4,5-10 Marla