In [7]:
import pandas as pd
import numpy as np

df = pd.read_csv('cleaned_zameen.csv')

df['log_price'] = np.log1p(df['price'])

df['area_bed_ratio'] = df['area_size'] / df['bedrooms'].replace(0,1)

df['luxury_flag'] = (df['price'] > df['price'].quantile(0.90)).astype(int)

df.to_csv('featured_zameen.csv', index=False)

In [8]:
df_featured = pd.read_csv('featured_zameen.csv')
df_featured.head()

,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms,date_added,agency,area_type,area_size,area_category,log_price,area_bed_ratio,luxury_flag
0,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,4 Marla,For Sale,2,2019-02-04,NaN,Marla,4.0,0-5 Marla,16.118096,2.000000,0
1,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,5.6 Marla,For Sale,3,2019-05-04,NaN,Marla,5.6,5-10 Marla,15.747032,1.866667,0
2,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,8 Marla,For Sale,5,2019-07-17,NaN,Marla,8.0,5-10 Marla,16.618871,1.600000,0
3,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,2 Kanal,For Sale,4,2019-04-05,NaN,Kanal,2.0,1-5 Kanal,17.588272,0.500000,0
4,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,8 Marla,For Sale,3,2019-07-10,Easy Property,Marla,8.0,5-10 Marla,15.761421,2.666667,0

In [5]:
df_featured.tail()

,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms,date_added,agency,area_type,area_size,area_category,price_per_unit,log_price,area_bed_ratio,luxury_flag
126262,House,26500000,Gadap Town,Karachi,Sindh,25.029909,67.137192,0,9.6 Marla,For Sale,6,2019-07-18,Al Shahab Enterprises,Marla,9.6,5-10 Marla,2.760417e+06,17.092655,1.600000,0
126263,House,12500000,Gadap Town,Karachi,Sindh,25.017951,67.136393,0,8 Marla,For Sale,3,2019-07-18,Al Shahab Enterprises,Marla,8.0,5-10 Marla,1.562500e+06,16.341239,2.666667,0
126264,House,27000000,Gadap Town,Karachi,Sindh,25.015384,67.116330,0,9.6 Marla,For Sale,6,2019-07-18,Al Shahab Enterprises,Marla,9.6,5-10 Marla,2.812500e+06,17.111347,1.600000,0
126265,House,11000000,Gadap Town,Karachi,Sindh,25.013265,67.120818,0,7.8 Marla,For Sale,3,2019-07-18,Al Shahab Enterprises,Marla,7.8,5-10 Marla,1.410256e+06,16.213406,2.600000,0
126266,House,9000000,Bahria Town Karachi,Karachi,Sindh,25.113565,67.353811,3,9.4 Marla,For Sale,3,2019-07-18,ZPN Real Estate & Builders,Marla,9.4,5-10 Marla,9.574468e+05,16.012735,3.133333,0